table {
    border: black;
    border-collapse: collapse;
    margin:10px;
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
}
Body {  
font-family: Calibri, Helvetica, sans-serif;    
}     
tr {   
border: 3px solid #aca5a9;   
background-color: rgba(174, 196, 255, 0.747);  
padding: 10px;   
}
